@model IList<Financas.Entidades.Usuario>

@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
@Html.ActionLink("Novo Usuário", "Form")
<br />
<br />

<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    @foreach(Financas.Entidades.Usuario item in Model)
    {
      <tr>
        <td>@item.Id</td>
        <td>@item.Nome</td>
        <td>@item.Email</td>
      </tr>
    }
  </tbody>
</table>


